<!DOCTYPE html>
<app-header titulo="Comunicado visita"></app-header>

<ion-content>

    <!-- Motivo -->
    <ion-item>
      <ion-label>Motivo:</ion-label>
      <ion-select interface="popover" 
                  [(ngModel)]="motivo">
        <ion-select-option *ngFor="let m of motivos"
                           [value]=m                            
                           selected=true>{{m}}</ion-select-option>      
      </ion-select>
    </ion-item>

    <!-- Fecha -->    
    <ion-item>
      <ion-label>Fecha:</ion-label>
      <ion-datetime placeholder="Fecha de visita"
                    value="{{ fechaVisita | date: 'dd-MM-yyyy'}}"
                    display-format="DD MMMM YYYY"
                    cancelText="Cancelar"
                    [min]="fechaMin"
                    [max]="fechaMax"
                    [(ngModel)]="fechaVisita.toISOString"
                    (ionChange)=cambioFecha($event)                  
      ></ion-datetime>
    </ion-item>
    
    <!-- Horarios -->
    <ion-grid style="margin: 0">
        <ion-row style="text-align: center; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; border-left: 1px solid #ccc; margin: 0;" class="ion-align-items-center">
          <ion-col>
            <ion-label>Hora</ion-label>
          </ion-col>
          
          <ion-col>
            <ion-label>Clase</ion-label>
          </ion-col>
          
          <ion-col>
            <ion-label>Asignatura y Aula</ion-label>          
          </ion-col>
        </ion-row>
  
        <ion-row *ngFor="let h of horas_elegidas" style="text-align: center; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; border-left: 1px solid #ccc;" class="ion-align-items-center">
          <!-- Horas -->
          <ion-col> 
            <ion-checkbox [(ngModel)]="h.checkbox_seleccionado"
                          (click)="pulsadoCheckbox(h)"
                          [value]="h.checkbox"
                          [checked]="h.checkbox_seleccionado"
            ></ion-checkbox>
            <ion-label>{{h.inicio}}-{{h.fin}}</ion-label>
          </ion-col>
            
          <!-- Eleccion del usuario --> 
          <ion-col>             
            <ion-row style="text-align: center;" class="ion-align-items-center">
              <!--Grupo de rabio buttons-->
              <ion-radio-group >
                <!--Sí-->
                <ion-col >
                  <ion-radio [value]="si" 
                              (ionSelect)="hayClases(h)">
                  </ion-radio>
                  <ion-label>Sí</ion-label>
                </ion-col>

                <!--No-->       
                <ion-col>
                  <ion-radio [value]="no"
                             (ionSelect)="hayClases(h)" 
                             checked>
                    </ion-radio>
                    <ion-label>No</ion-label>
                </ion-col>                    
              </ion-radio-group>
            </ion-row>

          </ion-col> 
          <!--Fin de elección de los horarios del usuario-->

          <!-- Asignatura y Aula-->
          <ion-col>
            <!--Asignatura-->
            <ion-button fill="clear" size="small" (click)="modificarAsignatura(h)"> 
              <ion-icon color="primary" name="flask"></ion-icon>
            </ion-button>

            <!--Aula-->
            <ion-button fill="clear" size="small" (click)="modificarAula(h)">
              <ion-icon color="primary" name="home"></ion-icon>
            </ion-button>
          </ion-col>  

        </ion-row>
      </ion-grid>
      <!--Fin Horarios-->

    <!-- Empresas -->
    <ion-item>
      <ion-label>Empresa 1:</ion-label>
      <ion-select interface="popover" 
                  [(ngModel)]="empresa1">
        <ion-select-option *ngFor="let e of empresas" [value]="e">
          {{e}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Empresa 2:</ion-label>
      <ion-select interface="popover" 
                  [(ngModel)]="empresa2">
        <ion-select-option value="ninguna"></ion-select-option>          
        <ion-select-option *ngFor="let e of empresas" [value]="e">{{e}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" (click)="enviarDatos()">Enviar</ion-button>

</ion-content>
