<!DOCTYPE html>
<app-header titulo="Listado Visitas">  </app-header>



  <ion-list-header style="padding:0">
    <ion-row style="
    width: 100%; border-bottom: black groove 2px; text-align:center;">
        <ion-col >
          <ion-label >Día</ion-label>
        </ion-col>
        <ion-col >
         <ion-label >Horas</ion-label>
        </ion-col>
        <ion-col >
          <ion-label >Empresa</ion-label>
        </ion-col>
        <ion-col >
          <ion-label >Validado</ion-label>
        </ion-col>
    </ion-row>
  </ion-list-header>


<ion-content >
    <ion-list>
      <ion-item *ngFor="let d of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]" routerlink="/home" 
      detail style="border-bottom: groove; text-align: center;" class="ion-no-padding" >
        <ion-row style="width: 100%">
          <ion-col>
            <ion-label>10/11/2019</ion-label>
          </ion-col>
          
          <ion-col>
            <ion-row>
              <ion-col>
               09:00
              </ion-col>
              <ion-col>
                13:20
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col>
            pepito de los palotes empresa SL
          </ion-col>

          <ion-col >
              <ion-checkbox style="margin:0; margin-inline-start: 50%;" color="primary"
              [(ngModel)]="binding"></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

</ion-content>
