<!DOCTYPE html>
<app-header titulo="Validación Visitas">  </app-header>

  <ion-list-header style="padding:0">
    <ion-row style="
    width: 100%; border-bottom: black groove 2px; text-align:center;">
        <ion-col >
          <ion-label >Día</ion-label>
        </ion-col>
        <ion-col >
         <ion-label >Inicio</ion-label>
        </ion-col>
        <ion-col >
         <ion-label >Final</ion-label>
        </ion-col>
        <ion-col >
          <ion-label >Empresa</ion-label>
        </ion-col>
        <ion-col >
          <ion-label >Validar</ion-label>
        </ion-col>
    </ion-row>
  </ion-list-header>


<ion-content >
    <ion-list>
        <ion-item *ngFor="let d of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]"
        style="border-bottom: groove; text-align: center;">
          <ion-row style="width: 100%">
          <ion-col *ngFor="let c of ['10/11/2019','09:00','13:20','AtSistemas']">
            <ion-label >{{c}}</ion-label>
          </ion-col>

          <ion-col  style="padding: 0 0 2% 0;" >
              <ion-button #first color="warning" (click)="validation(first,second)">
                <ion-icon #second name="warning" color="primary"></ion-icon>
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

</ion-content>
